<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtms.gtms.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gtms.gtms.entity.User">
        <id column="id" property="id"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_type" property="userType"/>
    </resultMap>

    <select id="getUserByAccountAndType" parameterType="com.gtms.gtms.entity.User" resultMap="BaseResultMap">
        select
          *
        from
          T_USER
        where
          user_type = #{md.userType}
        and user_account = #{md.userAccount}
    </select>

    <update id="modifyPwd" parameterType="com.gtms.gtms.vo.ModifyPwdVo">
        update
          T_USER
        set
          user_password = #{md.newPwd}
        where
          id = #{md.userId}
    </update>
</mapper>